@view('header', [ 'title' => 'Create a new user - Admin' ])

<h1 class="title">Create a new user</h1>

<form method="post" action="/admin">
    <div class="field">
        <label class="label" for="username">Username</label>
        <input class="input" type="text" id="username" name="username" autofocus required>
    </div>
    <div class="field">
        <label class="label" for="email">Email address</label>
        <input class="input" type="email" id="email" name="email" required>
    </div>
    <div class="field">
        <label class="label" for="password">Password</label>
        <input class="input" type="password" id="password" name="password" required>
    </div>
    <div class="field">
        <label class="label" for="confirm_password">Confirm password</label>
        <input class="input" type="password" id="confirm_password" name="confirm_password" required>
    </div>
    <div class="field">
        <label class="label" for="role">Role</label>
        <select class="input" id="role" name="role" required>
            <option value="{{ USER_ROLE_VIEWER }}">Viewer</option>
            <option value="{{ USER_ROLE_MODERATOR }}">Moderator</option>
            <option value="{{ USER_ROLE_ADMIN }}">Admin</option>
        </select>
    </div>
    <div class="field">
        <button class="button is-link" type="submit">Create user</button>
    </div>
</form>

@view('footer')
