<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ $title }} - Mad Turkey</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    @if (isset($use_leaflet)):
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.5.1/leaflet.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.5.1/leaflet.js"></script>
    @endif
    @if (isset($use_chart)):
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
    @endif
</head>
<body>
    <div class="navbar is-light">
        <div class="container">
            @if (Auth::check()):
                <a class="navbar-item" href="/">Home</a>
                <a class="navbar-item" href="/about">About</a>
                <a class="navbar-item" href="/stations">Stations</a>
                <a class="navbar-item" href="/events">Events</a>
                <div class="navbar-end">
                    <div class="navbar-item">
                        <img style="border-radius: 50%; margin-right: 8px;" src="https://www.gravatar.com/avatar/<?= md5(Auth::user()->email) ?>?s=48" alt="User gravater">
                        <div>{{ Auth::user()->username }}</div>
                    </div>
                    <div class="navbar-item">
                        <div class="buttons">
                            <a class="button" href="/settings">Settings</a>
                            <a class="button is-link" href="/auth/register">Register</a>
                            <a class="button is-black" href="/auth/logout">Logout</a>
                        </div>
                    </div>
                </div>
            @else:
                <a class="navbar-item" href="/">Home</a>
                <a class="navbar-item" href="/about">About</a>
                <a class="navbar-item" href="/stations">Stations</a>
                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                            <a class="button is-link" href="/auth/login">Login</a>
                        </div>
                    </div>
                </div>
            @endif
        </div>
    </div>
    <div class="section">
        <div class="container">
