@view('header', [ 'title' => 'Register' ])

<h1 class="title">Register</h1>

<form method="post">
    <div class="field">
        <label class="label" for="username">Username</label>
        <input class="input" type="text" id="username" name="username" autofocus required>
    </div>
    <div class="field">
        <label class="label" for="email">Email address</label>
        <input class="input" type="email" id="email" name="email" required>
    </div>
    <div class="field">
        <label class="label" for="password">Password</label>
        <input class="input" type="password" id="password" name="password" required>
    </div>
    <div class="field">
        <label class="label" for="confirm_password">Confirm password</label>
        <input class="input" type="password" id="confirm_password" name="confirm_password" required>
    </div>
    <div class="field">
        <button class="button is-link" type="submit">Register</button>
    </div>
</form>

@view('footer')
