@view('header', [ 'title' => 'Edit - ' . $event->name . ' - Events' ])

<h1 class="title">Edit {{ $event->name }}</h1>

<form method="post" action="/events/{{ $event->id }}">
    <div class="field">
        <label class="label" for="name">Name</label>
        <input class="input" type="text" id="name" name="name" value="{{ $event->name }}" autofocus required>
    </div>
    <div class="field">
        <label class="label" for="station_id">Station</label>
        <select class="input" id="station_id" name="station_id" required>
            @foreach ($stations as $station):
                <option value="{{ $station->id }}" {{ $event->station_id == $station->id ? 'selected' : '' }}>{{ $station->name }}</option>
            @endforeach
        </select>
    </div>
    <div class="field">
        <label class="label" for="trigger">Trigger PHP code (please don't cross command or site!!!</label>
        <textarea class="textarea" style="font-family: monospace; resize: none;" id="trigger" name="trigger" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" required>{{ $event->trigger }}</textarea>
    </div>
    <div class="field">
        <label class="label" for="type">Type</label>
        <select class="input" id="type" name="type" required>
            <option value="0" {{ $event->type == 0 ? 'selected' : '' }}>LED</option>
            <option value="1" {{ $event->type == 1 ? 'selected' : '' }}>Beeper</option>
        </select>
    </div>
    <div class="field">
        <label class="label" for="frequency">Frequency (Hz) (beeper only otherwise zero)</label>
        <input class="input" type="text" id="frequency" name="frequency" value="{{ $event->frequency }}" required>
    </div>
    <div class="field">
        <label class="label" for="duration">Duration (ms)</label>
        <input class="input" type="text" id="duration" name="duration" value="{{ $event->duration }}" required>
    </div>
    <div class="field">
        <button class="button is-link" type="submit">Edit event</button>
    </div>
</form>

@view('footer')
