@view('header', [ 'title' => 'Events' ])

<h1 class="title">Events</h1>

<div class="columns is-multiline">
    @foreach ($events as $event):
        <div class="column is-one-third">
            <div class="box" style="height: 100%">
                <h2 class="title is-4">
                    <a href="/events/{{ $event->id }}">{{ $event->name }}</a>
                    @if ($event->active):
                        <span class="tag is-pulled-right is-success">ACTIVE</span>
                    @endif
                </h2>
                @if ($event->type == EVENT_TYPE_LED):
                    <p style="margin: 16px 0;">Set the LED of "{{ $event->station->name }}" on for <code>{{ $event->duration }} ms</code>.</p>
                @endif
                @if ($event->type == EVENT_TYPE_BEEPER):
                    <p style="margin: 16px 0;">Set the beeper of "{{ $event->station->name }}" on at <code>{{ $event->frequency }} Hz</code> for <code>{{ $event->duration }} ms</code>.</p>
                @endif
                <pre style="white-space: pre-wrap;">{{ $event->trigger }}</pre>
            </div>
        </div>
    @endforeach
</div>

@if (Auth::user()->role >= USER_ROLE_MODERATOR):
    <div class="buttons">
        <a class="button is-link" href="/events/create">Create event</a>
    </div>
@endif

@view('footer')
